<!DOCTYPE html>
<html>

<head>
    <title>Our Company</title>
</head>

<body>
    <h1>Welcome user : {{data.username}}</h1>
    <h1>Test API : <a href="/testapi">Test API</a></h1>
    <a href="/logout">Log Out</a>
</body>
</html>